*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);
  --red: #f1554a;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--black);
}

main {
  background: url(images/background.svg);
  width: 375px;
  height: 812px;
  animation: glow 10s infinite;
}

.container {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}
.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}
.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: var(--red);
  text-shadow: 0px 0px 3px var(--red);
}

a {
  color: var(--gray);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 6rem;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

a > img {
  border-radius: 5px;
}
a > img:hover {
  animation: glow 1s infinite;
  border-radius: 50px;
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 50px #f2534d;
  }
  25% {
    box-shadow: 0px 0px 50px #fa8a3b;
  }
  50% {
    box-shadow: 0px 0px 50px #f68738;
  }
  75% {
    box-shadow: 0px 0px 50px #ff1582;
  }
  100% {
    box-shadow: 0px 0px 50px #f2534d;
  }
}
